body {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    background: #f8f9fa;
}

h1 {
    color: #198754;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #198754;
    color: white;
}

input, select {
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}